extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/courses-profile.css')
  link(href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet")

block content
  +banner(
    `${course.name}`,
    null,
    `/tee-times/create`,
    "Create TeeTime"
  )
  .course-profile__banner Welcome to #{course.name}
  .course-profile__container
    .course-profile__group-1 
      .course-profile__description= course.description
      .course-profile__difficulty Course Difficulty: #{course.difficulty}
      .course-profile__price Price Range: $#{course.minPrice} - $#{course.maxPrice}
      .course-profile-button
        a(href=`/tee-times/courses/${currentCourse.id}/create`)
          button(type="submit") Create Event

    img(src=`/images/courses/${course.imgPath}`)

