
mixin formData(teeTime, playStyle, course)
  input(type='hidden' name='_csrf' value=csrfToken)

  select(name='courseId' value=teeTime.courseId)
    option(value='') -- please select a course --
    each course in courses
      option(value=course.id selected=(teeTime.courseId === course.id))= course.name

  select(name='playStyleId' value=teeTime.playStyleId)
    option(value='') -- please select a play style --
    each playStyle in playStyles
      option(value=playStyle.id selected=(teeTime.playStyleId === playStyle.id))= playStyle.name

  .form-group-1
    label(for='date') Date:
    input(type='number' id='date' name='month' placeholder='MM' value=teeTime.month)
    input(type='number' name='day' placeholder='DD' value=teeTime.day)
    input(type='number' name='year' placeholder='YYYY' value=teeTime.year id='year')

  .form-group-2
    label(for='time') Time:
    input(id='time' name='hour' placeholder='8' value=teeTime.hour type='number')
    label(for='time') H
    input(id='minutes' name='minute' type='number' placeholder='15' value=teeTime.minute)
    label(for='minutes') M
    select(name='am_pm')
      option(value='am') AM
      option(value='pm') PM


  input(type='number' name='numPlayers' placeholder='How many players?' value=teeTime.  numPlayers)

  textarea(name='description' placeholder='Anything else?')= teeTime.description
