extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/tee-times.css')
  script(async defer src='/javascripts/tee-times-join-edit-delete.js')


include utils.pug

block content
  +banner(
    'Find a TeeTime near you',
    'start meeting new golf partners',
    '/tee-times/create',
    'Create A New TeeTime'
  )

  each teeTime in teeTimes
    .grid-container
      .grid-item__1
        h2 #{teeTime.formatDate()}
        h2 #{teeTime.formatTime()}
      .grid-item__2
        .grid-event__details
          h2.category__title Details:
          h2 #{teeTime.description}
        .grid-event__course
          h2.category__title Location:
          h2 #{teeTime.Course.name}
        .grid-event__numPlayers
          span.category__title Number of players: 
          span #{teeTime.numPlayers}
        //- .grid-event__owner
        //-   h2 #{teeTime.User.firstName} #{teeTime.User.lastName}
        .grid-event__play-style
          h2.category__title Play Style:
          h2 #{teeTime.PlayStyle.name}
        .grid-event__price
          .price-range
            h2.category__title Price Range:
            h2 $#{teeTime.Course.minPrice} - $#{teeTime.Course.maxPrice}
      if user
        .grid-item__3
          .grid-button
            if (teeTime.ownerId === user.id)
              button.edit-button(id=teeTime.id) Edit
              button.delete-button(id=teeTime.id) Delete

            else
              if teeTime.isJoined(user.id)
                button.joined-button(id=teeTime.id) Joined
              else if teeTime.isFull()
                button.full-button(id=teeTime.id) Full
              else
                button.join-button(id=teeTime.id) Join
                

    .form-container.hidden(id=`form-container-${teeTime.id}`)
      form(action=`/api/tee-times/${teeTime.id}` method='put' class='tee-times-edit__form')

        include tee-times-create-formData.pug
        +formData(teeTime, teeTime.playStyle, teeTime.course)

        button.update-button(type='submit' id=teeTime.id) Update