extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/users-profile.css')
  script(async defer src='/javascripts/tee-times-join-edit-delete.js')


block content
  +banner(
    `Welcome, ${user.firstName} ${user.lastName}`

  )
  .profile
    .user-profile
      .user-profile-container
        //- .user-profile-wrapper
          //- .user-profile-info
          //-   h2 Profile Info:
        .user-profile-wrapper_second
          //- .user-profile-info
          //-   h2 Profile Info:
          //- .user-profile-name
          //-   h2 #{user.firstName} #{user.lastName}
          .user-profile-email
            h2 #{user.email}
          .user-profile-bio
            h2 Bio: #{user.bio}
        .user-profile-wrapper_second
          .user-profile-handicap
            h2 Current Handicap: #{user.handicap}
          .user-profile-cityId
            h2 Current City: #{user.City.name}
          .user-profile-age
            h2 Age: #{user.age}
      .user-profile-button
        a(href='/tee-times')
          button Find Tee Times


  include user-dashboard-plugin.pug
