mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error


mixin field(labelText, fieldName, fieldValue, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue class='form-control')


mixin banner(headline, subtext, href, linkText)
  .banner
    .banner__container
      .banner__text
        h1= headline
        br
        div(class='banner__text-subtext')= subtext
        br
        a(href=href class="header-banner__button-link")
          button(type ='submit' class="header-banner__button-link")= linkText
        block 