extends layout.pug

include utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/courses-profile.css')
  link(href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet")

block content
  +banner(
    `${course.name}`,
    null,
    `/tee-times/create`,
    "Create TeeTime"
  )
  .course-profile-container
    h2 Welcome to #{course.name}
  .course-grid-container
    .course-profile-description-container
      h2= course.description
    .course-profile-picture
      img(src='https://dtt3egpp7rvvz.cloudfront.net/content/uploads/2018/04/16151641/crans-sur-sierre-e1523884629576.jpg')
    .course-profile-info-div
      .course-profile-difficulty
        h3 Course Difficulty: #{course.difficulty}
      .course-profile-price-range
        h3 Price Range: $#{course.minPrice}-$#{course.maxPrice}
    .course-profile-button
      button Create Event
